sirius-spring/src/main/resources/META-INF/sirius.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://sirius.org/schema/sirius"
            targetNamespace="http://sirius.org/schema/sirius">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
	<xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:complexType name="abstractMethodType">
		<xsd:attribute name="timeout" type="xsd:string"
			default="0"></xsd:attribute>
		<xsd:attribute name="async" type="xsd:string"
			default="false"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="abstractInterfaceType">
		<xsd:complexContent>
			<xsd:extension base="abstractMethodType">
				<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
				<xsd:attribute name="filter" type="xsd:string"></xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="abstractReferenceType">
		<xsd:complexContent>
			<xsd:extension base="abstractInterfaceType">
				<xsd:attribute name="version" type="xsd:string"
					default="0.0.0">
				</xsd:attribute>
				<xsd:attribute name="group" type="xsd:string">
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="abstractServiceType">
		<xsd:complexContent>
			<xsd:extension base="abstractInterfaceType">
				<xsd:attribute name="register" type="xsd:string">
				</xsd:attribute>
				<xsd:attribute name="version" type="xsd:string"
					default="0.0.0">
				</xsd:attribute>
				<xsd:attribute name="group" type="xsd:string">
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="registryType">
		<xsd:attribute name="id" type="xsd:ID">
		</xsd:attribute>
		<xsd:attribute name="address" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="port" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="protocol" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="username" type="xsd:string">
		</xsd:attribute>
		<xsd:attribute name="password" type="xsd:string">
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="methodType">
		<xsd:complexContent>
			<xsd:extension base="abstractMethodType">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="argument" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="parameter" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:choice>
				<xsd:attribute name="name" type="xsd:string"
					use="required">
				</xsd:attribute>
				<xsd:attribute name="executes" type="xsd:string">
				</xsd:attribute>
				<xsd:attribute name="stat" type="xsd:string"
					default="-1">
				</xsd:attribute>
				<xsd:attribute name="retry" type="xsd:string">
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="referenceType">
		<xsd:complexContent>
			<xsd:extension base="abstractReferenceType">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="method" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="parameter" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:choice>
				<xsd:attribute name="interface" type="xsd:token"
					use="required">
					<xsd:annotation>
						<xsd:documentation><![CDATA[ The service interface class name. ]]></xsd:documentation>
						<xsd:appinfo>
							<tool:annotation>
								<tool:expected-type type="java.lang.Class" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="serviceType">
		<xsd:complexContent>
			<xsd:extension base="abstractServiceType">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="method" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="parameter" minOccurs="0"
						maxOccurs="unbounded" />
					<xsd:element ref="beans:property" minOccurs="0"
						maxOccurs="unbounded" />
				</xsd:choice>
				<xsd:attribute name="interface" type="xsd:token"
					use="required">
					<xsd:annotation>
						<xsd:documentation>
                            <![CDATA[ Defines the interface to advertise for this service in the service registry. ]]></xsd:documentation>
						<xsd:appinfo>
							<tool:annotation>
								<tool:expected-type type="java.lang.Class" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="ref" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
                            <![CDATA[ The service implementation instance bean id. ]]></xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="class" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation><![CDATA[ The service implementation class name. ]]></xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="service" type="serviceType">
	</xsd:element>

	<xsd:element name="reference" type="referenceType">
	</xsd:element>

	<xsd:element name="method" type="methodType">
	</xsd:element>
</xsd:schema>